.boton-clear {
    height: 80px;
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    background-color: #ac0246;
    user-select: none;
}

.boton-clear:hover {
    background-color: #ebb000;
}