.App {
  /* width: 100%; */
  height: 99vh;
  padding-top: 10px;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.freecodecamp-logo-contenedor {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  height: 40px;
}

.contenedor-calculadora {
  border: 5px solid white;
  width: 400px;
  height: 600px;
  background-color: #99c9ff;
  border-radius: 20px;
  padding: 20px;
}

.fila {
  /* border: 1px dashed sandybrown; */
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}